* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  border: 1px solid gray;
}
nav{
    display: flex; 
    border: 1px solid gray;
    background-color: rgb(182, 178, 178);
    padding: 10px;
}
#menu {
float: right;
}
a {
  color: red;
  text-decoration: none;
  border-left:  1px solid  black;
}
.menulink {
  float: right;
}
#kezdolap {
  float: left;
}
#kezdolap a {
border: none;
  color: white;
}
@media screen and (max-width:600px){
    
}